#璇ョ被蹇呴』瀹炵幇Runnable锛屽苟鏈夋棤鍙傛暟鐨勬瀯閫犳柟娉�
start.run=com.cambrian.Main

#log4j鐨勯厤缃枃浠�
logProperties=dfhm.cc.log4j.cfg

#鏈湴鍦板潃锛屾湁鐨勬湇鍔″櫒鏈夊涓綉缁滃湴鍧�紝闇�鏄惧紡鎸囧畾鍦板潃
localAddress=0.0.0.0
#鏈嶅姟绔彛锛屽彲浠ヤ娇鐢ㄢ�,鈥濆垎闅斿涓鍙ｏ紝鐢ㄦ埛灏嗛�杩囪绔彛鐧婚檰鏈嶅姟鍣�
serverPort=20505
#娑堟伅鏄惁椤哄簭澶勭悊
serialExecute=true

#http鏈嶅姟鍣ㄧ鍙�
httpServerPort=20585
#濯掍綋绫诲瀷鏂囦欢
mimetype.txt=mimetype.txt

#鍔犺浇瀵硅薄閰嶇疆xml鏂囦欢
loadXmls=config.xml:mongo.xml:dfhm.cc.start.xml:dfhm.cc.user.xml
#鐩戞帶瀵硅薄閰嶇疆xml鏂囦欢
monitorXmls=dfhm.cc.user.xml
